#main-container {
    height: 100%;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    background-color: #151515;
    display: flex;
    justify-content: center;
    overflow: auto;
}

#main-content {
    height: 100%;
    width: 60%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

