<div id="media-detail-content">
    <div id="media-detail-container">
        <div id="media-btn-container" (mouseenter)="onHover(true)" (mouseleave)="onHover(false)"
            (click)="navigateToMedia()">
            <div id="media-icon-holder">
                <img *ngIf="!isButtonHovered" src="..\..\..\assets\icons\arrow\arrow.png">
                <img *ngIf="isButtonHovered" src="..\..\..\assets\icons\arrow\arrow-accent.png">
            </div>
            <p [ngClass]="{'media-btn-text-hover': isButtonHovered, 'media-btn-text': !isButtonHovered}">Back</p>
        </div>
        <div id="media-image-container">
            <img  *ngIf="getVideoUrl() === ' '" class="media-cover-image" [src]="imageFullUrl">
            <iframe *ngIf="getVideoUrl() !== ' '"  class="media-cover-image" [src]="getVideoUrl()" frameborder="0" allowfullscreen></iframe>
        </div>
        <div id="media-info-container">
            <p id="media-info-title">{{media.title}}</p>
            <p id="media-info-text">{{media.overview}}</p>
        </div>
    </div>
</div>