<div id="media-container">
    <div class="media-row">
        <div class="media-cell media-cell-right">
            <app-media-card></app-media-card>
        </div>
        <div class="media-cell media-cell-left">
            <app-media-card></app-media-card>
        </div>
    </div>
    <div class="media-row">
        <div class="media-cell media-cell-right">
            <app-media-card></app-media-card>
        </div>
        <div class="media-cell media-cell-left">
            <app-media-card></app-media-card>
        </div>
    </div>  <div class="media-row">
        <div class="media-cell media-cell-right">
            <app-media-card></app-media-card>
        </div>
        <div class="media-cell media-cell-left">
            <app-media-card></app-media-card>
        </div>
    </div>
    <div class="media-row">
        <div class="media-cell media-cell-right">
            <app-media-card></app-media-card>
        </div>
        <div class="media-cell media-cell-left">
            <app-media-card></app-media-card>
        </div>
    </div>
    <div class="media-row">
        <div class="media-cell media-cell-right">
            <app-media-card></app-media-card>
        </div>
        <div class="media-cell media-cell-left">
            <app-media-card></app-media-card>
        </div>
    </div>
</div>