#media-card {
  height: 100%;
  width: 100%;
  background-color: orange;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  border: 6px solid #eeeeee;
  background-color: #eeeeee;
  transition: all 0.3s ease;
  color: #151515;
  font-weight: bold;
  font-size: larger;
  animation: grow 0.5s ease forwards;
  transform-origin: center;
}

#media-card:hover {
  border: 6px solid #A91D3A;
  background-color: #A91D3A;
  transform: scale(1.05);
  box-shadow: 0 0 20px 10px rgba(199, 54, 89, 0.2);
  cursor: pointer;
  color: #eeeeee;
  font-weight: bolder;
  animation: glow 2s infinite ease-out;
}

#media-image-container {
  height: 85%;
  width: 100%;
  background-color: black;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  /*last baseline*/
}

img {
  min-width: 100%;
  max-height: 100%;
}


#media-title-container {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px 5px rgba(199, 54, 89, 0.2);
  }

  50% {
    box-shadow: 0 0 20px 10px rgba(199, 54, 89, 0.5);
  }

  100% {
    box-shadow: 0 0 10px 5px rgba(199, 54, 89, 0.2);
  }
}